---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Font
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,900,700);


// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$content-font: 300 1.5rem Lato, Helvetica, Arial, 'sans-serif';
$global-font: 400 1.2rem Lato, Helvetica, Arial, 'sans-serif';
$heading-font: 700 4rem Lato, Helvetica, Arial, 'sans-serif';

$spacing-unit:     30px;

$text-color:       #000;
$background-color: #fdfdfd;
$brand-color:      #b56464;
$twitter-color: #55acee;

$grey-color:       #494949;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $spread, $color) {
  -webkit-box-shadow: $top $left $blur $spread $color;
     -moz-box-shadow: $top $left $blur $spread $color;
      -ms-box-shadow: $top $left $blur $spread $color;
          box-shadow: $top $left $blur $spread $color;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "responsive"
;
