@import url("https://fonts.googleapis.com/css?family=Tajawal:400,800");
@import url("normalize.css");
.margin-btm-20 {
  margin-bottom: 20px; }

.margin-btm-25 {
  margin-bottom: 25px; }

.margin-btm-30 {
  margin-bottom: 30px; }

.margin-btm-35 {
  margin-bottom: 35px; }

.flex-box {
  display: flex; }

* {
  font-family: 'Tajawal', sans-serif;
  -webkit-font-smoothing: antialiased; }

.masthead-wrap {
  border-bottom: 5px solid #FDCA23;
  box-shadow: 1px 1px 6px #bbb; }

.masthead nav {
  width: 100%;
  padding: 20px 0px 8px;
  display: inline-block; }
.masthead .logo {
  width: 120px;
  float: left; }
  .masthead .logo img {
    max-width: 100%; }
.masthead .navigation {
  float: right;
  margin-top: 24px; }
  .masthead .navigation li {
    display: inline;
    list-style: none; }
    .masthead .navigation li:first-child {
      margin-right: 20px; }
    .masthead .navigation li a {
      font-family: 'Tajawal', sans-serif;
      background: #EF2F30;
      color: #ffffff;
      padding: 15px 20px 9px;
      text-transform: uppercase;
      border-radius: 10px;
      font-size: 20px; }

.hero {
  position: relative;
  width: 100%;
  min-height: 615px;
  padding-right: 0 !important;
  padding-left: 0 !important; }
  .hero .hero-bg {
    background: url(../images/header-bg.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-position-y: -55px;
    width: 40%;
    right: 0px;
    display: inline-block;
    position: absolute;
    z-index: -99999; }
  .hero .header-left {
    padding-top: 8%; }
    .hero .header-left .hero-lft-content {
      width: 50%; }
      .hero .header-left .hero-lft-content .hero-cta {
        margin-left: -2px; }
        .hero .header-left .hero-lft-content .hero-cta a {
          font-family: 'Tajawal', sans-serif;
          background: #EF2F30;
          color: #ffffff;
          padding: 15px 20px 9px;
          text-transform: uppercase;
          border-radius: 10px;
          margin-right: 25px;
          font-size: 20px; }
          .hero .header-left .hero-lft-content .hero-cta a:nth-child(2) {
            margin-right: 0; }
  .hero h1 {
    font-size: 55px;
    font-weight: 800; }
  .hero .date-band {
    background: #EF2F30;
    padding: 25px 0 17px;
    bottom: 0;
    position: absolute;
    width: 100%; }
    .hero .date-band ul {
      margin-bottom: 0; }
      .hero .date-band ul li {
        display: inline-block;
        width: 33%;
        text-align: center;
        margin: auto;
        color: #ffffff;
        vertical-align: middle;
        font-size: 24px; }
        .hero .date-band ul li span {
          font-weight: 800; }

.education {
  margin-top: 85px; }
  .education h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 3rem; }
  .education .education-box {
    width: 47%;
    display: inline-block; }
    .education .education-box h4 {
      text-align: center;
      background: rgba(253, 202, 35, 0.41);
      border-radius: 10px;
      margin: auto;
      width: 65%;
      padding: 10px 0 0;
      margin-bottom: 20px;
      font-size: 26px; }
    .education .education-box div {
      border: 1px solid #95989A;
      border-radius: 10px;
      padding: 35px; }
      .education .education-box div h3 {
        font-weight: 800;
        font-size: 30px; }
      .education .education-box div p {
        color: #8E8E8E;
        font-size: 20px; }
    .education .education-box:nth-child(2) {
      float: right; }

.rounds {
  margin-top: 100px; }
  .rounds h2 {
    text-align: center;
    font-size: 40px; }
  .rounds .col-md-4 {
    text-align: center; }
    .rounds .col-md-4 img {
      width: 150px;
      margin-bottom: 20px; }
    .rounds .col-md-4 h3 {
      font-weight: 800;
      font-size: 30px; }
    .rounds .col-md-4 p {
      color: #8E8E8E; }
  .rounds p {
    text-align: center;
    font-size: 20px; }
  .rounds .flex-box {
    margin-top: 60px;
    margin-bottom: 30px; }

.testimonials {
  margin-top: 100px; }
  .testimonials .testimonial-box {
    width: 47%;
    display: inline-block;
    border: 4px solid #FFED15;
    border-radius: 10px;
    padding: 35px; }
    .testimonials .testimonial-box:nth-child(2) {
      float: right; }
    .testimonials .testimonial-box img {
      width: 40px;
      vertical-align: text-bottom; }
    .testimonials .testimonial-box p {
      font-size: 20px; }
    .testimonials .testimonial-box div {
      display: inline-block;
      margin-left: 20px; }
      .testimonials .testimonial-box div h5 {
        margin-bottom: 0;
        font-weight: 800;
        font-size: 14px; }
      .testimonials .testimonial-box div span {
        margin-bottom: 0;
        font-size: 14px; }

.quiz-history {
  margin-top: 100px; }
  .quiz-history h2 {
    text-align: center;
    font-size: 40px; }
  .quiz-history p {
    text-align: center;
    color: #8E8E8E;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    font-size: 20px; }
  .quiz-history .school-logo-list {
    text-align: center;
    margin-top: 60px; }
    .quiz-history .school-logo-list ul li {
      list-style: none;
      display: inline-block;
      margin: 10px 25px; }
      .quiz-history .school-logo-list ul li img {
        height: 85px; }

.register {
  background: #EDEDED;
  text-align: center;
  padding-top: 5rem;
  margin-top: 100px;
  margin-bottom: 80px; }
  .register h1 {
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 40px; }
  .register h2 {
    margin-bottom: 20px;
    font-size: 40px; }
  .register a {
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
    background: #EF2F30;
    color: #ffffff;
    padding: 8px 20px 2px;
    text-transform: uppercase;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 40px; }

.sponsor {
  background: #00703C;
  color: #ffffff;
  padding: 3rem 0; }
  .sponsor p {
    width: 65%;
    margin-bottom: 1.5rem;
    font-size: 20px; }
  .sponsor img {
    margin-bottom: 45px; }
  .sponsor h6 {
    margin-bottom: 15px;
    font-size: 20px; }
  .sponsor a {
    background: #7DB237;
    color: #ffffff;
    padding: 15px 20px 5px;
    text-transform: uppercase;
    border-radius: 10px;
    display: inline-block;
    font-size: 20px; }

footer {
  background: #2F2F2F;
  text-align: center;
  color: #ffffff;
  padding: 5rem 0 4.5rem; }
  footer h2 {
    margin-bottom: 3rem;
    font-size: 40px; }
  footer p {
    margin: 0; }
  footer .contact {
    margin: auto;
    width: 55%;
    border: 2px solid white;
    padding: 17px 10px 10px;
    border-radius: 10px;
    font-size: 20px; }
  footer ul {
    padding: 0;
    margin-top: 4rem;
    margin-bottom: 4rem; }
    footer ul li {
      list-style: none;
      display: inline-block;
      text-align: center; }
      footer ul li a {
        width: 20px;
        height: 20px;
        background: #ffffff;
        padding: 20px 10px 15px;
        border-radius: 10px; }

/*# sourceMappingURL=style.css.map */
