/**
 * Site header
 */
.site-header {
    min-height: 56px;
    padding-top: 2rem;

    // Positioning context for the mobile navigation icon
    position: relative;

}




.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}


// New CSS start

.cogs {
    float: right;
    width: 80px;
}

.adam-photo {
    border-radius: 999px;
    height:150px;
    float: right;
}

.scrnshts  {
    @include border-radius(8px);
    @include box-shadow(1px, 26px, 100px, -30px, #000);
}

.svg-icon-list {
    margin: auto;
    padding: 0;
    text-align: center;
}

.social-icons {
    display: inline-block;
    &:not(:first-child) {
        padding-left: 2rem;
    }
}


.footer-content {
    margin-left: auto;
    margin-right: auto;

    .copyright {
        text-align: center;
        margin-top: 2.5rem;
        font-size: .8rem;
        font-weight: 700;
    }
}



// New CSS end

.site-nav {
    float: left;
    line-height: 56px;
    margin-top: 5%;
    font-weight: 400;
    font-size: 1rem;

    .menu-icon {
        display: none;
    }


    ul{
        padding:0;
        margin:0;
    }

        .nav-links {
            color: $text-color;
            line-height: $base-line-height;
            list-style: none;

            // Gaps between nav items, but not on the first one
            &:not(:first-child) {
                margin-left: 0px;
            }
        }


}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    // margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 2.5rem;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-metadata {
        text-align: center;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 2.6rem;
    letter-spacing: -1px;
    line-height: 1;
    font: $heading-font;
    color: $brand-color;
    text-align: center;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
        }

    h3 {
        font-size: 1.8rem;
        }

    h4 {
        font-size: 20px;
        }
}
