body {
	background: url(shimla.jpg) no-repeat center center fixed;
	background-size: cover;
}
body::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,rgba(37, 203, 220, 0.23));
	background-image: url(snow.gif);
	opacity: .6; 
}
.spot {
	text-align: center;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(255, 255, 255, 0.79);
    /* padding: 15rem 9rem; */
    box-shadow: 0px 0px 10px #525050;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    transition: ease-out .3s all;

}

.spot a {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	color: #fff;
	font-size: 8rem;
	color: #6198bd;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spot a:hover {
	text-decoration: none;
}
.spot:hover {
	cursor: pointer;
	height: 440px;
	width: 440px;
	transition: ease-in .3s all;
}

.contact {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	background: white;
    /* padding: 5rem 15rem; */
    background: #6198bd;
    color: #fff;
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
.contact h4 {
	/* margin-top: 20rem; */
	  position: absolute;
	  top: 50%; left: 50%;
	  transform: translate(-50%,-50%);
	  font-size: 6rem;
	  font-family: 'Dancing Script', cursive;
}
.pop {
	width: 50%;
	margin: auto;
}

@media (max-width:991px) {
	.spot, .contact {
		height: 700px;
		width: 700px;
	}
	.spot a {
		font-size: 12rem;
	}
	.spot:hover {
		height: 740px;
		width: 740px;
	}
}